* {
	padding: 0;
	margin: 0;
}
.wrap {
	position: relative;
	width: 1200px;
	height: 1000px;
	background-color: #80cdc6;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}
.clouds {
	position: absolute;
	top: 10px;
	left: 358px;
	width: 839px;
	height: 200px;
}
.world {
	position: absolute;
	top: 247px;
	left: 0px;
	width: 1200px;
	height: 500px;	
	z-index: 1;
}
.water {
	position: absolute;
	top: 425px;
	left: 0px;
	width: 1200px;
	height: 200px;
	z-index: 4;
}
.ship {	
	position: absolute;
	top: 668px;
	left: 26px;
	width: 250px;
	height: 250px;
	z-index: 3
}